{{- $lang := .Site.Language -}}

<!DOCTYPE html>
<html lang="{{- $lang -}}">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{- .Site.Title -}}</title>

	{{- partial "_head/favicon" . -}}
	{{- partial "_head/alternatives" . -}}
	{{- partial "_head/styles" . -}}
	{{- partial "_head/scripts" . -}}
</head>

<body class="wrapper">
	<div class="stack u-grow">
		<header class="stack">
			<h1 class="stack u-center">
				{{- with resources.Get "images/logo.svg" -}}
				<img src="{{- .RelPermalink -}}" />
				{{- end -}}
			</h1>

			<nav>
				<ul class="grid u-center u-middle">
					{{- .Site.Home.Render "menu-item" -}}
					{{- range .Site.Menus.header -}}
					{{- .Page.Render "menu-item" -}}
					{{- end -}}
				</ul>
			</nav>
		</header>

		{{- block "content" . -}}
		<!-- nothing here -->
		{{- end -}}
	</div>

	<footer>
		<section class="stack u-wrapper">
			<div class="grid">
				<!--<span class="u-centered">{{- (T "site.designed_by" (dict "Url" "https://strootje.xyz")) | safeHTML -}}</span>-->
				<span class="u-centered">{{- (T "site.copyright" (dict "Year" (now.Format "2006"))) | safeHTML -}}</span>
				<span class="u-centered"><a href="https://stats.strooweb.nl/strooware.nl" target="_blank">Plausible Analytics</a></span>
			</div>
		</section>

		{{- with .Site.Params.Footer.Extra -}}
		<section class="stack u-wrapper">
			<div class="grid">
				{{- range . -}}
				<span class="u-centered">{{- .text -}}</span>
				{{- end -}}
			</div>
		</section>
		{{- end -}}
	</footer>
</body>

</html>
