<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ .Site.Title }} {{ T "site.title.suffix" . | safeHTML }}</title>
	<style>
		body {
			background-color: #3e474e;
		}
	</style>
	<script async src="https://offen.strooware.xyz/script.js" data-account-id="6baad660-bf0b-4bbb-b9a7-a49a2bb340ea"></script>
</head>

<body>
	{{- block "content" . -}}
	<!-- .. Content .. -->
	{{- end -}}
</body>

</html>
