{{- define "content" -}}
<div class="stack u-wrapper">
	{{- $page_title := .Title -}}
	{{- with .Content -}}
	<h2><span>{{- $page_title -}}</span></h2>
	<div>{{- . -}}</div>
	{{- end -}}

	<h2><span>{{- T "site.contact.title" . -}}</span></h2>

	<form class="stack form" method="post" action="https://formspree.io/f/mnqwdkdo">
		<div class="grid">
			{{- $placeholder_name := T "site.contact.fields.name.placeholder" . -}}
			<label for="name">{{- T "site.contact.fields.name.label" . -}}</label>
			<input type="text" name="name" id="name" placeholder="{{- $placeholder_name -}}" required />
		</div>

		<div class="grid">
			{{- $placeholder_email := T "site.contact.fields.email.placeholder" . -}}
			<label for="email">{{- T "site.contact.fields.email.label" . -}}</label>
			<input type="text" name="email" id="email" placeholder="{{- $placeholder_email -}}" required />
		</div>

		<div class="grid">
			{{- $subjectIsset := isset .Params "subject" | int -}}
			{{- $placeholder_subject := T "site.contact.fields.subject.placeholder" . -}}
			<label for="subject">{{- T "site.contact.fields.subject.label" . -}}</label>
			<input type="text" subject="subject" id="subject" placeholder="{{- $placeholder_subject -}}" value="{{- .Params.Subject -}}" required {{ if $subjectIsset }}disabled{{ end }} />
		</div>

		<div class="stack">
			{{- $placeholder_message := T "site.contact.fields.message.placeholder" . -}}
			<label for="message">{{- T "site.contact.fields.message.label" . -}}</label>
			<textarea name="message" id="message" placeholder="{{- $placeholder_message -}}" required></textarea>
		</div>

		{{- $value_submit := T "site.contact.submit.text" . -}}
		<input type="submit" value="{{- $value_submit -}}">
	</form>
</div>
{{- end -}}
