name: Build and Publish

on:
  pull_request:
    branches: [main]
  push:
    branches: [main]

jobs:
  build-and-publish:
    name: Build and Publish
    uses: strootje/strooweb-workflows/.github/workflows/docker-build-and-publish-fast.yml@main
    with: { IMAGE_NAME: strootje/site-strooware }
    permissions:
      contents: read
      packages: write
    secrets: inherit
